---
import TitleSection from "../TitleSection.astro";
import CardProjects from "./CardProjects.astro";
import { getLangFromUrl, useTranslations } from "../../i18n";
import { tags } from "../../utils/tagsProgramming";

const t = useTranslations(getLangFromUrl(Astro.url));

const projects = [
    {
        title: "EasyDiceware",
        description: t("projects.easyDiceware"),
        link: "https://easy-diceware.up.railway.app/",
        github: "https://github.com/dgox16/easy-diceware",
        image: "/images/easyDiceware.avif",
        tags: [tags.laravel, tags.react, tags.postgresql, tags.shadcnui],
    },
    {
        title: "EasySudoku",
        description: t("projects.easySudoku"),
        link: "https://easy-sudoku.up.railway.app/",
        github: "https://github.com/dgox16/easySudoku",
        image: "/images/easySudokuNew.avif",
        tags: [tags.laravel, tags.react, tags.postgresql],
    },
    {
        title: "Shordly",
        description: t("projects.shordly"),
        link: "https://shordly.up.railway.app/",
        github: "https://github.com/dgox16/shordly",
        image: "/images/shordlyNew.avif",
        tags: [tags.rust, tags.astro, tags.tailwind],
    },
    {
        title: "Penguin Movies",
        description: t("projects.penguinMovies"),
        link: "https://penguin-movies.up.railway.app",
        github: "https://github.com/dgox16/penguin-movies",
        image: "/images/penguinMoviesNew.avif",
        tags: [tags.express, tags.react, tags.tailwind, tags.mongo],
    },
    {
        title: "Mi Graduación",
        description: t("projects.graduacion"),
        link: "https://migraduacion.up.railway.app/",
        github: "https://github.com/dgox16/landingPage_Graduacion",
        image: "/images/graduacionNew.avif",
        tags: [tags.astro, tags.tailwind, tags.supabase],
    },
    {
        title: "OldWorld.nvim",
        description: t("projects.oldworld"),
        github: "https://github.com/dgox16/oldworld.nvim",
        image: "/images/oldWorldNew.avif",
        tags: [tags.neovim, tags.lua],
    },
];
---

<div class="flex justify-center mx-7 xl:mx-0" id="projects">
    <div class="w-full md:w-recommend">
        <TitleSection color={"red"}>{t("title.projects")}</TitleSection>
        <div
            class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4 md:gap-4"
        >
            {
                projects.map(
                    ({ image, title, description, tags, link, github }) => (
                        <CardProjects
                            image={image}
                            title={title}
                            description={description}
                            tags={tags}
                            link={link}
                            github={github}
                        />
                    ),
                )
            }
        </div>
    </div>
</div>
