---
import TitleSection from "../TitleSection.astro";
import { getLangFromUrl, useTranslations } from "../../i18n";
import { tags } from "../../utils/tagsProgramming";
import { Icon } from "astro-icon/components";

const t = useTranslations(getLangFromUrl(Astro.url));

const skills = [
    {
        name: "Frontend",
        tags: [
            tags.react,
            tags.astro,
            tags.tailwind,
            tags.bootstrap,
            tags.jinja,
            tags.nextJs,
            tags.shadcnui,
        ],
    },
    {
        name: "Backend",
        tags: [
            tags.laravel,
            tags.django,
            tags.express,
            tags.mySql,
            tags.postgresql,
            tags.sqlite,
            tags.mongo,
            tags.supabase,
        ],
    },
    {
        name: t("skills.languages"),
        tags: [
            tags.javascript,
            tags.typescript,
            tags.php,
            tags.python,
            tags.rust,
            tags.css,
            tags.html,
            tags.bash,
        ],
    },
    {
        name: t("skills.tools"),
        tags: [
            tags.git,
            tags.linux,
            tags.nodeJs,
            tags.docker,
            tags.vscode,
            tags.neovim,
            tags.jira,
            tags.npm,
        ],
    },
];
---

<div class="flex justify-center mx-7 xl:mx-0" id="skills">
    <div class="w-full md:w-recommend">
        <TitleSection color={"yellow"}>{t("title.skills")}</TitleSection>
        <div class="gap-3 md:gap-6 lg:gap-14 grid grid-cols-1 md:grid-cols-2">
            {
                skills.map(({ name, tags }) => (
                    <div class="flex flex-col justify-center bg-oldworld-gray2 rounded-2xl p-6 xs:p-8">
                        <div class="grid gap-6 xs:gap-8 grid-cols-4 sm:grid-cols-4  mb-9">
                            {tags.map((tag) => (
                                <div class="flex flex-col justify-center items-center">
                                    <div
                                        class={`flex size-12 xs:size-[3.50rem] sm:size-20 md:size-14 lg:size-18 text-oldworld-bg items-center justify-center rounded-full ${tag.color} p-2`}
                                        title={tag.name}
                                    >
                                        <Icon
                                            name={tag.icon}
                                            class="lg:size-9 md:size-7 sm:size-9 size-7"
                                        />
                                    </div>
                                    <span class="text-xs xs:text-xs sm:text-[15px] md:text-[13px] lg:text-[15px] text-oldworld-fg mt-2 hidden xs:inline">
                                        {tag.name}
                                    </span>
                                </div>
                            ))}
                        </div>
                        <span class="text-[18px] xs:text-[22px] sm:text-[24px] md:text-[26px] font-bold text-center text-oldworld-fg uppercase">
                            {name}
                        </span>
                    </div>
                ))
            }
        </div>
    </div>
</div>
